.container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 700px;
}

.playButton {
    background: #ff5500;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    padding: .6em;
}

.waveformWrapper {
    flex: 1;
}

.volumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}