.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nameRow {
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 6px;
}

.name {
    font-size: 14px;
}

.verified svg {
    position: relative;
    top: 3px;
}

.meta {
    font-size: 12px;
    color: var(--text-muted-3);
}

.meta svg {
    position: relative;
    top: 2px;
}

.followButton {
    padding: .4rem;
}
