.mainContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    min-width: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

.title {
    margin-bottom: 10px;
}

@media (max-width: 938px) {
    .container {

    }
}
