.mainContainer {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.title {
    padding-bottom: 5px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
