.mainContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.title {
    margin-bottom: 10px;
}
