.navbar {
    width: 100%;
    height: 60px;
    background: var(--panel);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.navLinks {
    display: flex;
    gap: 0.2rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--text-muted);
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.link:hover {
    background: var(--panel-2);
    color: var(--text);
}

.active {
    color: var(--accent);
}

.navRight {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileBtn {
    text-decoration: none;
    background: var(--panel-2);
    color: var(--text);
    padding: 0.6em 1.2em;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileBtn:hover {
    background: rgba(255, 255, 255, 0.08);
}


/* Mobile */
.hamburgerWrap {
    display: none;
    color: var(--text);
}

.mobileDropdown {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background: var(--panel);
    padding: .5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    z-index: 999;
}

.mobileLink {
    text-decoration: none;
    color: var(--text-muted);
    padding: 10px 14px;
    border-radius: 10px;
    transition: 0.2s ease;
    width: 90%;
    text-align: center;
}

.mobileLink:hover {
    background: var(--panel-2);
    color: var(--text);
}

.authBtnMobile {
    text-decoration: none;
    background: var(--accent);
    color: var(--text);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 700;
    width: 90%;
    text-align: center;
}

.profileBtnMobile {
    text-decoration: none;
    background: var(--panel-2);
    color: var(--text);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 700;
    width: 90%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);

    background: rgba(0, 0, 0, 0.3);

    z-index: 998;
}

@media (max-width: 800px) {
    .navLinks {
        display: none;
    }

    .navRight {
        display: none;
    }

    .hamburgerWrap {
        display: flex;
        align-items: center;
    }
}
