.container {
    display: flex;
    width: 100%;
}

/* LEFT SIDE - IMAGE BOX */
.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

/* RIGHT SIDE - FORM */
.rightSide {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}