.container {
    display: flex;
    width: 100%;
    gap: 50px;
    box-sizing: border-box;
}

/* LEFT SIDE - BOXES */
.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    flex: 1;
}

/* RIGHT SIDE - FORM */
.rightSide {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .leftSide {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .rightSide {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .leftSide {
        flex-direction: column;
        align-items: center;
    }
}